#content-wrapper.d-flex.flex-column
  #content
    nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
      button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
        i.fa.fa-bars
      form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
        .input-group
          input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
          .input-group-append
            button.btn.btn-primary(type='button')
              i.fas.fa-search.fa-sm
      ul.navbar-nav.ml-auto
        li.nav-item.dropdown.no-arrow.d-sm-none
          a#searchDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            i.fas.fa-search.fa-fw
          .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
            form.form-inline.mr-auto.w-100.navbar-search
              .input-group
                input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
                .input-grou.p-append
                  button.btn.btn-primary(type='button')
                    i.fas.fa-search.fa-sm
        li.nav-item.dropdown.no-arrow
          a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.mr-2.d-none.d-lg-inline.text-gray-600.small Douglas McGee
            img.img-profile.rounded-circle(src='img/undraw_profile.svg')
          .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
            a.dropdown-item(href='#')
              i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
              |                           Profile
            a.dropdown-item(href='#')
              i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
              |                           Settings
            a.dropdown-item(href='#')
              i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
              |                           Activity Log
            .dropdown-divider
            a.dropdown-item(href='#', data-toggle='modal', data-target='#logoutModal')
              i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
              |                           Logout
    .container-fluid
      .d-sm-flex.align-items-center.justify-content-between.mb-4
        h1.h3.mb-0.text-gray-800 Dashboard
      .row
        .col-xl-3.col-md-6.mb-4
          .card.border-left-primary.shadow.h-100.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                    | Earnings (Monthly)
                  .h5.mb-0.font-weight-bold.text-gray-800
                    | $40,000
                .col-auto
                  i.fas.fa-calendar.fa-2x.text-gray-300
        .col-xl-3.col-md-6.mb-4
          .card.border-left-success.shadow.h-100.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-success.text-uppercase.mb-1
                    | Earnings (Annual)
                  .h5.mb-0.font-weight-bold.text-gray-800
                    | $215,000
                .col-auto
                  i.fas.fa-dollar-sign.fa-2x.text-gray-300
        .col-xl-3.col-md-6.mb-4
          .card.border-left-info.shadow.h-100.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-info.text-uppercase.mb-1
                    | Tasks
                  .row.no-gutters.align-items-center
                    .col-auto
                      .h5.mb-0.mr-3.font-weight-bold.text-gray-800
                        | 50%
                    .col
                      .progress.progress-sm.mr-2
                        .progress-bar.bg-info(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                .col-auto
                  i.fas.fa-clipboard-list.fa-2x.text-gray-300
        .col-xl-3.col-md-6.mb-4
          .card.border-left-warning.shadow.h-100.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
                    | Pending Requests
                  .h5.mb-0.font-weight-bold.text-gray-800
                    | 18
                .col-auto
                  i.fas.fa-comments.fa-2x.text-gray-300
