extends ../layout/header.pug
block content 
    include ../components/navbar.pug
    include ../components/cart.pug
    include ../components/slider.pug
    include ../components/banners/bannerHome.pug
    section.bg0.p-t-23.p-b-140
      .container
        include ../components/products/productOverview.pug
        include ../components/products/listItem.pug
block footer 
    include ../components/footer.pug
    include ../components/scroll.pug