extends ../layout/header.pug
block content 
    include ../components/navbar.pug
    include ../components/cart.pug
    include ../components/slider.pug
    include ../components/banners/bannerHome.pug
    include ../components/products/listItem.pug
block footer 
    include ../components/footer.pug
    include ../components/scroll.pug