extends ../layout/header.pug
block content 
    include ../components/navbar.pug
    include ../components/cart.pug
    include ../components/products/item.pug
block footer 
    include ../components/footer.pug
    include ../components/scroll.pug