extends ../layout/common.pug
block content
  #wrapper
    include ../components/navLeft.pug
    #content-wrapper.d-flex.flex-column
      #content
        include ../components/navTop.pug
        include ../components/totalCharts.pug
      include ../components/footer.pug